/* Seller Dashboard styles */
.seller-dashboard {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #2874f0; 
  }
  
  .left-section {

    flex: 1;
    padding-left: 50px;
    text-align: center;
    padding-top: 160px;
    padding-right: 10px;
    background-color: white;
    color: #fff; 
}


  .right-section {
    flex: 1;
    padding-right: 50px;
    padding-top: 150px;
    text-align: center;
    padding-left: 10px;
    color: #fff; 
    border-left: 1px solid white;
  }
  
  .coupon-box {
    width: calc(20% - 20px); 
    padding: 20px;
    margin-right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
  }

  /* Seller Dashboard styles */
/* ... */

.transaction-box {
  
  padding: 10px;
  margin-bottom: 10px;
  background-color: #2874f0;
  opacity: 90%;
  color: white;
}

.offer-tokens-section {
  background-color: #fff; /* White background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
  position: absolute; /* Positioned at the bottom */
  bottom: 20px;
  left: 75%;
  transform: translateX(-50%);
  max-width: 80%; /* Limit the maximum width */
}

.offer-tokens-section h6 {
  margin-bottom: 10px;
}
/* ... Other styles */

  
  /* ... Other styles */
  