/* Seller Dashboard styles */
.seller-dashboard {
    display: flex;
    margin-top: 60px;
    height: calc(100vh - 55px);
    background-color: #3498db; /* Blue color for the background */
  }
  
  .left-section {

    flex: 1;
    padding-left: 50px;
    text-align: center;
    padding-top: 160px;
    padding-right: 10px;
    color: #fff; /* Text color for the left section */
}

.right-section {
    flex: 1;
    padding-right: 50px;
    padding-top: 150px;
    text-align: center;
    padding-left: 10px;
    color: #fff; /* Text color for the right section */
    border-left: 1px solid white;
  }
  
  .coupon-box {
    width: calc(20% - 20px); /* Adjust the width based on your design */
    padding: 20px;
    margin-right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
  }
  
  /* ... Other styles */
  