/* Seller Dashboard styles */
.seller-dashboard {
    display: flex;
    margin-top: 55px;
    height: calc(100vh - 55px);
    background-color: #2874f0; 
  }
  
  .left-section {

    flex: 1;
    padding-left: 50px;
    text-align: center;
    padding-top: 160px;
    padding-right: 10px;
    background-color: white;
    color: #fff; 
}

.right-section {
    flex: 1;
    padding-right: 50px;
    padding-top: 150px;
    text-align: center;
    padding-left: 10px;
    color: #fff; 
    border-left: 1px solid white;
  }
  
  .coupon-box {
    width: calc(20% - 20px); 
    padding: 20px;
    margin-right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
  }

  /* Seller Dashboard styles */
/* ... */

.transaction-box {
  
  padding: 10px;
  margin-bottom: 10px;
  background-color: #2874f0;
  opacity: 90%;
  border: 1px solid black;
}

/* ... Other styles */

  
  /* ... Other styles */
  